/* Stylesheet for index.html */

@font-face {
  font-family: Asap-Bold;
  src: url(../fonts/Asap-Bold.ttf);
}

@font-face {
  font-family: Asap-Regular;
  src: url(../fonts/Asap-Regular.ttf);
}

body {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

.nav-bar .nav-text,
.nav-bar .nav-icon {
  display: flex;
  flex-direction: row;
}

.nav-text div,
.nav-icon div {
    padding: 1px 8px 1px 8px;
}

.nav-text {
  font-family: Asap-Bold;
  font-size: 18pt;
}

#nav-home {
  color: #333333;
}

#nav-about {
  color: #999999;
}

/* styling for welcome banner elements */
#welcome {
  display: flex;
  align-items: center;
  background: url(../images/bg1_repeat.png);
  justify-content: center;
  padding: 10px 0px 0px 0px;
}

#welcome .content {
  text-align: center;
  color: #ffffff;
}

#welcome #content-header {
  font-family: Asap-Bold;
  font-size: 52pt;
  padding: 30px 0px 30px 0px;
}

#welcome #content-text {
  font-family: Asap-Regular;
  font-size: 24pt;
  padding: 30px 0px 30px 0px;
}

#welcome #email-box {
  padding: 30px 0px 30px 0px;
}

#welcome #email-text,
#welcome #email-ok {
  font-family: Asap-Regular;
  font-size: 20.3pt;
  color: #ffffff;
  height: 60px;
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
}

/*  to change placeholder colors for different browsers   */
input::-webkit-input-placeholder {
  color: #ffffff !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: #ffffff !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: #ffffff !important;
}

input:-ms-input-placeholder {
  color: #ffffff !important;
}

#welcome #email-text {
  width: 269px;
  background: rgba( 255, 255, 255, 0.3);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 10px;
}

#welcome #email-ok {
  width: 81px;
  background-color: #2ECC71;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: -4px;
}

#sub-text {
  font-family: Asap-Regular;
  font-size: 16pt;
  color: #ffffff;
  padding: 0px 0px 40px 0px;
}

#feed-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px 0px 0px 0px;
}

/* styling of feed banner elements */
#feed-banner .content {
  text-align: center;
}

#feed-banner #feed-banner-header {
  font-family: Asap-Bold;
  font-size: 36pt;
  color: #333333;
  margin-top: 50px;
  padding: 20px 0px 20px 0px;
}

#feed-banner #feed-banner-text {
  font-family: Asap-Regular;
  font-size: 20pt;
  color: #999999;
  padding: 20px 0px 20px 0px;
}
